.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "grid1 grid1"
    "grid2 grid2"
    "grid3 grid4"
    "grid5 grid5";
}

.grid1{
    grid-area: grid1;
    background-color: wheat;
}

.grid2{
    grid-area: grid2;
    background-color: violet;
}

.grid3{
    grid-area: grid3;
    background-color: thistle;
}

.grid4{
    grid-area: grid4;
    background-color: teal;
}

.grid5{
    grid-area: grid5;
    background-color: yellowgreen;
}